asgiref==3.8.1
certifi==2025.1.31
charset-normalizer==3.4.1
Django==5.2
ffmpeg-python==0.2.0
future==1.0.0
idna==3.10
packaging==25.0
pdf2image==1.17.0
pillow==11.2.1
pydub==0.25.1
PyPDF2==3.0.1
pytesseract==0.3.13
RapidFuzz==3.13.0
requests==2.32.3
SpeechRecognition==3.14.2
sqlparse==0.5.3
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
